################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sea_fight/v17
/.vs
*.obj
*.exe
x64/
Debug/
Release/
seafighttt/x64/
seafighttt/Debug/
*.user
*.pdb
*.exe
*.obj
*.ilk
*.tlog
*.recipe
*.log
